<!doctype html>
<html lang="en" th="http://www..thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1 align="center">Welcome weetech solution....</h1>
  <h3 align="center"><a th:href="@{/about}"></a>Get PDF</h3>
</body>
</html>